.container_cart_id {
  display: flex;
  justify-content: center;
}

.card_id {
  max-width: 1000px;
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.container_img_id {
  width: 500px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.container_img_id img {
  width: 500px;
  transition: all ease-in-out 0.5s;
}

.container_descricao_id {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--global-card_bg);
}

.container_descricao_id p {
  font-size: 16px;
  font-weight: 400;
  color: var(--global-texto);
}

.titulo_id {
  font-size: 40px;
}

.preco_id {
  font-size: 40px;
  font-weight: 500;
  color: var(--global-login-logout);
}

.btn_id {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 10px;
}

.box_star_preco {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.dinheiro_riscado {
  color: var(--global-texto);
  font-size: 20px;
  text-decoration: line-through;
}

@media (max-width: 988px) {
  .card_id {
    max-width: 500px;
    flex-direction: column;
  }

  .container_img_id {
    width: 100%;
  }

  .container_img_id img {
    width: 100%;
  }
}

@media (max-width: 405px) {
  .btn_id {
    flex-direction: column-reverse;
  }

  .preco_id {
    font-size: 30px;
  }
}
