.box_card {
  display: grid;
  grid-gap: 20px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card_container {
  margin-top: 50px;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #4b4a4a;
  overflow: hidden;
  border-radius: var(--global-border-radius);
  transition: all 0.2s ease-in-out;
}

.card_container:hover {
  transform: scale(1.02);
}

.card_container img {
  width: 100%;
}

.card_container strong,
.card_container .descricao,
.card_container .box_preco {
  padding: 5px 10px;
}

.card_container strong h3 {
  font-size: var(--global-titulos-pequenos-font);
  color: var(--global-titulos-pequenos-cor);
}

.card_container .descricao {
  color: var(--global-texto);
  font-weight: 400;
  flex-grow: 1;
}

.card_container .box_preco {
  display: flex;
  justify-content: space-between;
  color: var(--global-preco-cor);
}

.box_btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box_btn a {
  color: var(--global-btn-color);
}

.star {
  font-size: 18px;
  color: var(--global-star);
  transition: all 0.2s ease-in-out;
}

.star:hover {
  transform: scale(1.5);
}
