.header_container {
  background-color: #0b0b0b;
  padding: 20px 0;
}

.header_container h1 {
  color: #fff;
  display: flex;
  flex-grow: 1;
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_menu nav {
  display: flex;
  align-items: center;
}

.icon_style {
  color: #fff;
  font-size: 20px;
}

.btn_Cart {
  font-size: 20px;
}

.box_carrinho_quantidade_item {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.quantidadeDeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--global-nome-de-marcas);
}

.menuHamburguer {
  display: none;
}

.box_icone_DarkMode {
  margin: 0 10px;
}

@media (max-width: 988px) {
  .header_menu nav {
    display: none;
  }

  .menuHamburguer {
    display: flex;
  }

  #ativa {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    top: 79px;
    left: 0px;
    width: 100%;
    background-color: var(--global-card_bg);
    border-bottom: 2px solid var(--global-menu-hamburguer-border);
    border-top: 2px solid var(--global-menu-hamburguer-border);
  }

  #ativa a {
    margin: 10px;
    width: 100%;
  }

  #ativa a div{
    margin-left: 0px;
    transition: all ease-in-out 0.3s;
  }

  #ativa a div:hover{
    margin-left: 10px;
  }
}
