.container_cart_carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_carrinho {
  margin-top: 50px;
  width: 900px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.container_img_carrinho {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.container_img_carrinho img {
  width: 300px;
  object-fit: contain;
}

.container_descricao_carrinho {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--global-card_bg);
}

.box_titulo_btnDelete {
  display: flex;
  justify-content: space-between;
}

.btnDelete {
  cursor: pointer;
  font-size: 25px;
  color: var(--global-login-logout);
  transition: all ease-in-out 0.3s;
}

.btnDelete:hover {
transform: scale(1.35);
  color: var(--global-carrinho-lixeira);
}

.box_titulo_descricao {
  flex-grow: 1;
}

.container_descricao_carrinho p {
  color: var(--global-texto);
}

.preco_carrinho {
  font-weight: 500;
  color: var(--global-login-logout);
}

.box_preco_btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_preco_btn input {
  width: 43px;
  text-align: center;
}

.btnRemove,
.btnAdd {
  font-size: 16px;
}

.btn_carrinho {
  display: flex;
  align-items: center;
}

.btn_carrinho imput {
  height: 10px;
}

.btn_add_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--global-btn-bg);
}

.preco_total {
  display: flex;
  justify-content: space-between;
}

.totalCor {
  font-size: 20px !important;
  font-weight: 300 !important;
  color: var(--global-preco-total-quantidade);
}